// En el archivo del componente, por ejemplo, component.scss
@import "../../../styles/variables"; // Asegúrate de usar la ruta correcta
@import "../../../styles/mixins"; // Asegúrate de usar la ruta correcta

// Ahora puedes usar los mixins y breakpoints en este componente
nav {
  padding: 2rem;
  justify-content: space-between;


  .button-volver {
    display: none;
    border: 0px;
  }
  .menu-burger{
    display: none;
  }
  .nav-list {

    display: flex;
    gap: 1rem;
    list-style-type: none;
    text-decoration: none;
    a {
      text-decoration: none;
      color: black;
    }
  }
  .logo-nav {
    margin-top: 0px;
  }
  .login-shop {
    display: flex;
    gap: 1rem;
  }

  // Estilos específicos para pantallas pequeñas
  @include media-up(sm) {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    align-items: flex-start;
    position: fixed;
    width: 100%;
    height: 100%;
    gap: 0px;

    .menu-burger{
      display: block;
      background-color: transparent;
      border: 0;
    }
    .nav-pc {
      // opacity: 0;
      // visibility: hidden;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #FFFFFF;
      padding: 2rem;
      gap: 1rem;
      color: black;
      z-index: 9999;
      font-family: $font-primary;
      text-decoration: underline;
      font-size: 30px;

    }
    .nav-pc.visible{
      opacity: 1;
      visibility: visible;
    }

    .nav-list {
      .button-volver{
        display: block;
        background-color:transparent;
      }
      display: flex;
      flex-direction: column;
      align-items: start;
      list-style-type: none;
      gap: 1rem;
      a {
        color: black;
        text-decoration: none;
      }
    }


    .logo-nav {
      margin-top: 10px;
    }
    .burger-logo {
      display: flex;
      gap: 10px;
    }
    .login-shop {
      display: flex;
      gap: 10px;
    }
    .logos{
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }
  @include media-up(lg){
    display: flex;
    justify-content: end;


    .menu-burger {
      display: none;
    }

    .nav-pc {
      display: flex;
      flex-direction: row; // Alinea horizontalmente el menú en pantallas grandes
      background-color: transparent;
      gap: 3rem;
      justify-content: center;
      align-items: start;
      width: auto;
      text-decoration: none;
      font-family: $font-primary;
      // font-weight: 700;
    }

    .nav-list {
      display: flex;
      flex-direction: row; // Alinea horizontalmente los elementos de la lista en pantallas grandes
      gap: 3rem;

      .button-volver {
        display: none;
      }

      a {
        color:white;
        text-decoration: none;
        font-weight: 700;
      }
      :hover{
        a{
          color: $text-color;
          text-decoration:underline ;
        }
      }
    }

    .logos {
      display: flex;
      align-items: center;
      gap: 20px; // Espacio entre el logo y los íconos de inicio de sesión y carrito
      margin-top: 7px;
    }
}}

