<section >
  <div class="corazon">
    <img src="../../../assets/corazon.webp" alt="corazon" width="55px">
  </div>

  <div class="tittle">
    <h1>
      ¿QUIENES SOMOS?
    </h1>
  </div>
  <div class="about-me">
    <h3>
      En Oasis nos encanta mostrar individualidad y la expresión a través de la moda.
      Nuestra fundadora, una apasionada de la moda, se inspiró para ofrecer una selección exclusiva de prendas y accesorios
      que reflejan las últimas tendencias y garantizan la exclusividad.
    </h3>
      <h3>
        Desde vestidos únicos hasta llamativos accesorios, cada artículo está diseñado
        para inspirar confianza y poder en cada mujer. Con un enfoque en la calidad y un
        servicio al cliente excepcional, estamos aquí para ayudarte a encontrar la pieza
        perfecta que complementará tu estilo único y te hará destacar en cualquier cosa.
      </h3>

  </div>
  <div class="corazon-2">
    <img src="../../../assets/corazon.webp" alt="´corazon" width="55px">
  </div>

    <div class="calificanos">
      <h1>¡ESPERA UN MOMENTO!</h1>

      <div class="points">
        <p>Calificanos </p>
        <div>
          <img src="../../../assets/estrella icon.png" alt="estrella">
        <img src="../../../assets/estrella icon.png" alt="estrella">
        <img src="../../../assets/estrella icon.png" alt="estrella">
        <img src="../../../assets/estrella icon.png" alt="estrella">
        <img src="../../../assets/estrella icon.png" alt="estrella">
        </div>

      </div>
    </div>

    <div class="collection">
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>

    </div>

</section>
