<footer class="footer">
  <div>
    <h1>CONTACTO</h1>
    <div class="container">
      <div class="contact">
        <img src="../../../assets/correo.png" alt="correo" width="20px">
        <p>OASIS2024&#64;gmail.com.</p>
      </div>
  <div class="contact">
    <img src="../../../assets/telefono.png" alt="contacto" width="20px">
    <p>+57 300 3379500</p>
  </div>
  <div class="contact">
    <img src="../../../assets/instagram.png" alt="instagram" width="20px">
    <p>oasiiis_oficial</p>
  </div>

    </div>
  </div>

  <div class="whattsapp">
    <p>¿Lita para brillar?</p>
    <img src="../../../assets/whattsapp.png" alt="Whatsapp" width="50px">
  </div>
</footer>
