<app-nav-oasis></app-nav-oasis>
<section class="home">
  <div class="space">

  </div>
  <app-card></app-card>
  <div class="container-products">
    <app-card-product></app-card-product>
    <app-card-product></app-card-product>
    <app-card-product></app-card-product>
    <app-card-product></app-card-product>
    <app-card-product></app-card-product>
    <app-card-product></app-card-product>
  </div>
  <app-card-tendencias></app-card-tendencias>
  <app-tendencias></app-tendencias>
  <div>
    <app-about></app-about>
    <app-members></app-members>
    <app-footer></app-footer>
  </div>

</section>
