<section class="members">
  <div class="Unete">
<H1>UNETE A NOSOTRAS</H1>
  </div>
<div class="register-email ">
  <div class="email">
    <div>

      <h3>Se parte de nuestro club para obtener descuentos y muchos privilegios mas.</h3>
    </div>
    <div class="form-register">
      <input class="email" id="email" type="text" placeholder="CORREO ELECTRONICO">
      <button class="register" >UNIRME</button>
    </div>

  </div>
  <div class="img-r">
    <img src="../../../assets/chicas-vista-lateral-maquillaje-gen-z.png" alt="chicas-maquillaje" width="200px">
  </div>
</div>
</section>
